[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/uno"]
	path = content/themes/uno
	url = https://github.com/aesprice/uno.git
